html {
  box-sizing: border-box;
  
}
*,
*::befor,
*::after {
  box-sizing: inherit;
}
:root {
  --primary-text-color: #757575;
  --titel-text-color: #212121;
  --accent-text-color: #2196f3;
  --fon-cl: #2f303a;
  --with: #ffffff;
}
.container{
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
margin-right: auto;
}
header{
  width: 100%;
  text-align: center;
}
.header {
  display: inline-flex;
  justify-content: flex-end;
  /* background-color: yellow; */
  padding-top: 24px;
  padding-bottom: 25px;
  
}
a {
  text-decoration: none;
}
nav,
nav a,
nav ul,
.header nav,
.header ul,
.site-nav li,
.contacts li,
.images li,
header,
.header,
.contacts {
  display: inline-block;
  /* padding: 0px; */
  margin-left: auto;
  margin-right: auto;
  /* width: auto; */
}
.logo {
  font-family: "Raleway", sans-serif;
  color: var(--accent-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.17em;
  width: 145px;
  margin-right: 93px;  
}
.site-nav li {
  display: inline-block;
  padding-right: 50px;
}
.site-nav li:last-child {
  padding-right: 0px;
}
.contacts li {
  padding-right: 50px;
}
.contacts-mail-tel:last-child {
  padding-right: 0px;
}





/* nav {
  margin: 0px 330px 0px 0px;
  padding: 0px;
} */
.contacts {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
 
}

.contacts li:last-child {
  padding-right: 0px;
}
/* .header ul {
  /* margin: 0px; */
} */
.primery-nav {
  color: var(--accent-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17em;
}
/* .main-about li:last-child {
  margin-right: 0;
} */
.site-nav {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.17em;
  /* margin: 32px 0px; */
  padding: 0px;
}


main {
  font-family: "Roboto", sans-serif;
  width: auto;

  /* margin: 0px auto 0px; */
}
.logo-accent {
  color: var(--titel-text-color);
  /* width: auto; */
}
.button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63em;
}
.button-secondary {
  color: var(--primary-text-color);
  a .button-primery-st{
    display: flex: ;
  }
}
.button-primery-st {
  /* display: inline; */
  color: #ffffff;
  background-color: var(--accent-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88em;
  text-align: center;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;

  /* padding: 10px 32px;
  margin-top: 0px; */
}
.button-primery-pf {
  color: #ffffff;
  background-color: var(--accent-text-color);
  font-style: normal;
  font-weight: 500;
  line-height: 1.63em;
}

.main {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36em;
  text-align: center;
  /* margin: 30px; */
}
.advantages {
  color: var(--titel-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.17em;
  margin: 0px;
}
.notes {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71em;
  margin: 0px;
  margin-top: 10px;
}
.about-us {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16em;
  text-align: center;
  margin: 0px;
  margin-bottom: 50px;
}

.main-section .buuton-primery-st{
  display: inline;
  width: 200px;
 justify-content: center; 
 
}
.container-about {
  display: flex;
} 
.main-about {
    padding: 0px;
margin-top: 0px;
    margin-bottom: 94px;
    width: 100%;
}

.main-about li {
  display: inline-block;
  justify-content: space-between;

  /* height: 100px; */
  width: 270px;
  /* margin-right: 30px; */
}



.position {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.19em;
  font-style: normal;
  /* margin-bottom: 30px; */
}
.projects {
  color: var(--titel-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2em;
}
.type {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88em;
}

.name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19em;
  margin-bottom: 10px;
}
a:hover {
  color: var(--accent-text-color);
  font-weight: 700;
}
a:focus {
  color: var(--accent-text-color);
  font-weight: 700;
}
.button-primery-st:focus,
.button-primery-st:hover {
  color: #ffffff;
  font-weight: 900;
}
.button-primery:focus,
.button-primery:hover {
  color: #ffffff;
  font-weight: 700;
}

ul {
  list-style: none;
}
.command {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17em;
  text-align: center;
  /* margin-top: 0px; */
  margin-bottom: 50px;
  /* padding-bottom: 30px; */
}

.footer {
  font-family: "Roboto", sans-serif;
  background-color: var(--fon-cl);
  width: 100%;
  height: 252px; */
  /* padding-top: 60px;
  padding-left: 215px;
  margin: 0px auto; */
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  color: var(--accent-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19em;
}
.logo-ac-footer {
  color: var(--with);
}
.address {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: var(--with);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71em;
}
.mail-tel {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #ffffff99;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71em;
}

address ul {
  padding: 0px;
  margin-top: 20px;
}
footer{
  display: inline-flex;
  /* padding-top: auto;
  padding-bottom: auto; */
  align-items: center;
}
/*  header {
  height: 80px;
  width: 1200px;
  margin-left: auto;
  margin-right: automain-section
} */


/* .main-about li {
  display: inline-block;
  height: 100px;
  width: 270px;
  margin-right: 30px;
} */
 .our-teams {
  background-color: #f5f4fa;
  text-align: center;
  padding: 0px;
  /* height: 648px; */
  /* width: 1600px; */
  /* margin: 94px auto 0px; */
  padding-top: 94px;
  /* padding-bottom: 94px; */
  padding-left: 0px;
}
.teams {
  display: inline-block;
  background-color: var(--with);
  padding-bottom: 94px;
  /* width: 270px; */
  /* padding: 0px; */
  
}
  .teams img{
    margin-bottom: 30px;
  }


.main-section {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-bottom: 94px;
  color: #ffffff;
  background-color: #2f303a;
  /* width: 100%; */
  justify-content: center;
  
}

.adout-us-img {
  text-align: center;
  margin: 0px;
  margin-bottom: 94px;
  
  /* /* width: 1170px; */
  /* height: 368px; */
}
.images{
  width:auto;
  display: inline-block;
}
.images li{
  display: inline-block;
  margin-right: auto;

}
.images li:last-child{
  margin-right: 0px;
}
.adout-us-img ul{

  margin: 0px;
  padding: 0px;
  justify-content: space-between;
}
/* .adout-us-img h2 {
  margin-bottom: 50px;
} */
